/* line 2, ../sass/styles.scss */
ul li {
  margin: 10px;
  border-left: 1px solid #444;
}
/* line 6, ../sass/styles.scss */
ul li p#ref, ul li b#ref, ul li a#ref {
  color: blue;
  display: inline-block;
}
/* line 10, ../sass/styles.scss */
ul li p#prop, ul li b#prop, ul li a#prop {
  color: red;
  display: inline-block;
}
/* line 14, ../sass/styles.scss */
ul li p#type, ul li b#type, ul li a#type {
  color: green;
  display: inline-block;
}
/* line 18, ../sass/styles.scss */
ul li p:hover, ul li b:hover, ul li a:hover {
  position: relative;
}
/* line 21, ../sass/styles.scss */
ul li p[title]:hover:after, ul li b[title]:hover:after, ul li a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

/* line 48, ../sass/styles.scss */
div.container {
  height: 60%;
  width: 99%;
  overflow-x: auto;
}

/* line 57, ../sass/styles.scss */
textarea#jsonText {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 40%;
}

/* line 65, ../sass/styles.scss */
div.expandable {
  display: none;
}

/* line 71, ../sass/styles.scss */
a.node.expandable {
  top: 50%;
  padding: 10px;
  margin-top: -1em;
  background-color: black;
  color: white;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}
